/ -binding.pry
.card(style = "margin: 20px 0px;")
  .card-header
    = link_to 'blogs', blogs_path
    = paginate @blogs
    = page_entries_info @blogs
  .card-body
    .row
      - @blogs.each do |blog| 
        .card.text-center.col-lg-4.col-md-6(style = "margin: 5px 0px;")          
          //- binding.pru
          -# = link_to image_tag(blog.image.blogs.url), blog, :class => "img card-img-top"          
          -# = link_to image_tag('images.jpg'), blog, :class => "img card-img-top"
          
          -# = image_url('images.jpg')
          .card-body       
            %h5.card-title 
              =blog.name
            %p.card-text
              Description:
              =blog.descrition
            %p.card-text
              =blog.content              
              = link_to blog.file.path
            %p.card-text
              Comment:              
              =blog.comment
